@import "btn";

.adder .text-input {
    background-color: rgba(#ffffff, .1);
    border: 0.1em solid rgba(#ffffff, .1);
    border-radius: .5em;
    outline: none;
    flex-grow: 100;
    padding: .5em;
    color: white;
}

.adder .btn-connect {
    margin-left: 1em;
    @include btn-size(7.5em, 3.0em);
}