.results {
  background-color: rgba(#ffffff, 0.07);
  border-radius: 0.5em;
  margin-top: 1em;
}

.results > .header {
  background-color: rgba(#ffffff, 0.08);
  border-radius: 0.5em 0.5em 0em 0em;
  padding: 0.4em 0.5em;
  color: rgba(#ffffff, 0.5);
}

.results > .body {
  font-size: 1.25em;
  padding: 0.75em 0.5em;
  color: rgba(#ffffff, 0.5);
  font-size: 1.15em;
}

.results > .body > .resume {
  margin-top: 0.5em;
  text-align: right;
}
